<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Scxmperlite</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/dashboardstyles.css">
  
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row g-0">
          <div class="col-0 col-sm-0 col-md-3 col-lg-3 col-xxl-2 m-0 sidebar-column">
            <div class="side-panel sticky-top">
                <div class="header-logo">
                    <img src="./assets/images/Atmosphere.png" alt="" height="20">
                </div>
          <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                      <a class="nav-link "th:href="@{dashboard}"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" height="15" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                      </svg> Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active " th:href="@{createShipment}"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" height="15" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                      </svg> Add Shipments</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " th:href="@{devices}"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" height="15" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
                      </svg>Device Data Stream</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" th:href="@{logout}" ><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" height="15" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                      </svg>Logout</a>
                    </li>
                    
                 
                  </ul>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xxl-10 content-column">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                    <form class="d-flex" role="search">
                      <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>

              <div class="container">
                <div class="main-board">
                    <div class="container">
                      <h5>Add Shipments</h5>
                     <form method="post" action="#" th:object="${shipment}" th:action="@{createShipment}">
                     <div id="error" th:text="${error}"></div>
    <div id="success" th:text="${success}"></div>
        	<div class="row mb-4 ">
            <label for="invoiceNumber" class="col-sm-2 col-form-label">Shipment/Invoice Number</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="invoiceNumber" placeholder="Shipment/Invoice Number" th:field="*{si_no}" >
            </div>
        </div>
         <div class="row mb-3">
            <label for="containerNumber" class="col-sm-2 col-form-label">Container Number</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="containerNumber" placeholder="Container Number"   th:field="*{container_no}" >
            </div>
        </div>
         <div class="row mb-3">
                 <label class="col-sm-2 col-form-label" for="shipmentDescription">Shipment Description</label>
        <div class="col-sm-3">
            <textarea class="form-control" name="shipmentDescription" placeholder="Enter Your Description"
            style="overflow:auto;resize:none" rows="4" cols="20"  th:field="*{desc}"></textarea>
        </div>
        </div>
         <div class="row mb-3">
          <label for="routeDetail" class="col-sm-2 col-form-label">Route Details</label>
   		 <div class="col-sm-3">
        <select class="form-select" th:field="*{route}" >
           
           <option value="HYDERABAD-TIRUPATI">HYDERABAD-TIRUPATI</option>
            <option value="BANGALORE-TIRUPATI">BANGALORE-TIRUPATI</option>
            <option value="HYDERABAD-BANGALORE">HYDERABAD-BANGALORE</option>
        </select>
    </div>
        </div>
         <div class="row mb-3">
            <label for="goodsType" class="col-sm-2 col-form-label" >Goods Type</label>
   		 <div class="col-sm-3">
        <select class="form-select" name="goodsType" th:field="*{goods}">
             <option value="Vegetables">Vegetables</option>
            <option value="Fruits">Fruits</option>
            <option value="Electronics">Electronics</option>
        </select>
    </div>
        </div>
         <div class="row mb-3">
             <label for="device" class="col-sm-2 col-form-label">Device</label>
   		 <div class="col-sm-3">
        <select class="form-select" name="device" th:field="*{device}">
           <option th:each="device : ${devices}" th:value="${device}" th:text="${device}"></option>
        </select>
    </div>
        </div>
         <div class="row mb-3">
          <label for="expectedDeliverydate" class="col-sm-2 col-form-label">Expected Delivery Date</label>
         <div class=" col-sm-3 md-form md-outline input-with-post-icon datepicker">
  		<input placeholder="Expected Delivery Date" type="date" name="expectedDeliverydate" class="form-control" th:field="*{date}">
 		</div>
		</div>
       
         <div class="row mb-3">
            <label for="poNumber" class="col-sm-2 col-form-label">PO Number</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="poNumber" placeholder="PONumber"  th:field="*{po_no}">
            </div>
        </div>
         <div class="row mb-3">
            <label for="deliveryNumber" class="col-sm-2 col-form-label">Delivery Number</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="deliveryNumber" placeholder="DeliveryNumber" th:field="*{delivery_no}">
            </div>
        </div>
         <div class="row mb-3">
            <label for="NdcNumber" class="col-sm-2 col-form-label">NDC Number</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="NdcNumber" placeholder="NDCNumber"   th:field="*{ndc_no}">
            </div>
        </div>
         <div class="row mb-3">
            <label for="batchId" class="col-sm-2 col-form-label">Batch Id</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="batchId" placeholder="BatchId"  th:field="*{batch_id}">
            </div>
        </div>
         <div class="row mb-3">
            <label for="serialNumber" class="col-sm-2 col-form-label">Serial Number of Goods</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="serialNumber" placeholder="Serial Number of Goods"   th:field="*{serial_no}">
            </div>
        </div>
        
       
        <div class="row mb-5">
            <div class="col-sm-10 offset-sm-2">
                <button type="reset" class="btn btn-danger">Cancel Shipments </button>
                <button type="submit" class="btn btn-danger">Create Shipment</button>
            </div>
           
        </div>
      
    </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
   

    <script>
      
    </script>
</body>
</html>